@font-face {
    font-family:'James Fajardo';
    src: url('james_fajardo-webfont.eot');
    src: local("☺"),
        url("james-fajardo-webfont.woff") format ("woff"),
        url("jamesfajardo.otf") format("opentype")
        url("james-fajardo-webfont.svg") format("svg");

}

@font-face {
    font-family:'Snake';
    src: url('snake-webfont.eot');
    src: local("☺"),
        url("snake-webfont.woff") format ("woff"),
        url("snake_webfont.otf") format("opentype")
        url("snake-webfont.svg") format("svg");

}

nav {
    border: 2px solid;
    padding: 5px;
    font-family: 'snake';
    font-weight: normal;
    background-color : #6D869B;
    font-size: 35px;
    text-align: center;
     margin-top: 0;
    margin-bottom:0;

}

h1 {
    border: 2px solid;
    padding: 1px;
    font-family: 'James Fajardo';
    font-weight: normal;
     font-size: 170px;
    text-align: center;
     margin-top: 0;
    margin-bottom:0
}

h4 {
    border: 2px solid;
    padding: 5px;
    font-family: 'snake';
    font-weight: normal;
    background-color : #6D869B;
    font-size: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15;
    margin-bottom: 20;
    width: 500px;
    height: 318px;
}

a {
    color: #DCEAEF;
}

a:hover {
    color:aquamarine;
    transition-duration: 2s
}

#nav-flex {
    display: flex;
    padding: 0px;
    list-style: none;
    background-color : #6D869B;
    margin-top: 0;
    margin-bottom:0;

}

h3 {
    border: 2px solid;
    padding: 1px;
    font-family: 'James Fajardo';
    font-weight: normal;
     font-size: 120px;
    text-align: center;
     margin-top: 0;
    margin-bottom:0
}

#profileimg {
    background-color: #DDEAFD
}

img {
    position: relative;
    margin-left: 14px;
    margin-top: 14px;
    display: flex;
}

#flexthings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-left: 10px
}

li {
    display: inline-block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Snake';;
    font-size: 25px;
}

body {
    background-color: #DCEAFE;
    border: 2px solid;
    padding: 5px
}
ul{
    background-color: #6D869B;
    border: 2px solid;
    padding: 20px;

}

.AboutMe{
    display: flex;
    height: 1000px;
}

#flexstuff{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;

}

#profile {
   border: 2px solid;
    font-family: 'Snake';
    font-weight: normal;
    background-color : #6D869B;
    font-size: 25px;
    text-align: center;

}

#nav-about{
    display: flex;
    padding: 0px;
    list-style: none;
    background-color : #6D869B;
    margin-top: 0;
    margin-bottom:0;
    color: #6D869B;
}

p {
    background-color: #6D869B;
    border: 2px solid;
    padding: 5px;
    font-family: 'Snake';
    font-weight: normal;
    font-size: 25px;
    text-align: center;


    font-family:
}
