@font-face {
    font-family:'James Fajardo';
    src: url('james_fajardo-webfont.eot');
    src: local("☺"),
        url("james-fajardo-webfont.woff") format ("woff"),
        url("jamesfajardo.otf") format("opentype")
        url("james-fajardo-webfont.svg") format("svg");

}

nav {
    border: 2px solid;
    padding: 5px;
    font-family: 'James Fajardo';
    font-weight: normal
    background-color: #6D869B;
    text-align: center;
}

#nav-flex {
    display: flex;
    padding: 0px;
    list-style: none
}

li {
    display: inline-block;
    list-style: none;
    margin-left: auto;
    margin-right: auto
}

body {
    background-color: #DCEAFE;
    border: 2px solid;
    padding: 5px
}
ul{
    background-color: #ABC7D6;
    border: 2px solid;
    padding: 20px;
    width: 1024;
    height: 62
}

p {
    background-color: #ABC7D6;
    border: 2px solid;
    padding: 5px;
    height: 128px
}
