nav {
    border: 5px solid;
    display: flex;
    padding: 5px;
    background-color: #6D869B;
    text-align: center
}

body {
    background-color: #DCEAFE;
    border: 2px solid;
    padding: 5px
}
ul.second-ul{
    background-color: #ABC7D6;
    border: 2px solid;
    padding: 5px
}

p {
    background-color: #ABC7D6;
    border: 2px solid;
    padding: 5px;
    height: 128px
}
